<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>st.rio.controlled</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/rifujita/ownCloud/bin/ctl-led.sh</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/rifujita/controlled.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/rifujita/controlled_stderr.log</string>

  <key>LimitLoadToSessionType</key>
  <array><string>Aqua</string></array>
</dict>
</plist>
